<h1>Información del sistema</h1>
<ul>
  <li>Argumentos de entrada: {{args}}</li>
  <li>Plataforma: {{platform}}</li>
  <li>Versión de Node.js: {{nodeVersion}}</li>
  <li>Memoria total reservada: {{rss}} MB</li>
  <li>Path de ejecución: {{execPath}}</li>
  <li>Process id: {{pid}}</li>
  <li>Carpeta del proyecto: {{projectDir}}</li>
</ul>